.info-desc {
    background-color: #F5f5f5;
    .first-part {
        background-color: #fff;
        padding: 10px 10px;
        border-radius: 5px;
        .info-desc-list {
            border-bottom: 1px solid #f5f6f5;
            padding-bottom: 10px;
        }
        .info-desc-title {
            // 单行文本溢出省略号
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }
        .desc-tagss {
            margin-top: 10px;
            display: inline-block;
            font-size: 12px;
            border-radius: 3px;
            padding: 4px 5px;
            margin-right: 5px;
            line-height: 12px;
        }
        .desc-tag1 {
            color: #39becd;
            background: #e1f5f8;
        }
        .desc-tag2 {
            color: #3fc28c;
            background: #e1f5ed;
        }
        .desc-tag3 {
            color: #5aabfd;
            background: #e6f2ff;
        }
        .info-desc-price {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-bottom: 1px solid #f5f6f5;
            padding: 10px 0;
            .price {
                font-size: 16px;
                display: inline-block;
                color: orangered;
                font-weight: bold;
            }

            .price-center {
                text-align: center;
            }
        }
        .price-info {
            font-size: 5px;
            color: #999;
            display: inline-block;
            margin-top: 5px;
        }
        .info-desc-type {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            li {
                width: 50%;
                padding: 10px 0;
                .type-info {
                    color: #444;
                    font-size: 14px;
                }
            }
        }
    }
    .second-part {
        margin-top: 10px;
        background-color: #fff;
        padding: 10px 10px;
        border-radius: 5px;
        .price-info {
            font-size: 5px;
            color: #999;
            display: inline-block;
            margin-top: 5px;
        }
        .type-info {
            color: #444;
            font-size: 14px;
        }
        #container-map {
            width: 100%;
            height: 200px;
            margin-top: 10px;
        }
        .configure {
            border-bottom: 1px solid #f5f6f5;
            padding: 10px 0;
        }
        .configure-list-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 100%;
            & li {
                width: 11%;
                padding: 10px 15px;
                text-align: left;
                font-size: 5px;
                color: #111;
            }
            .configure-icon,
            .configure-title {
                text-align: center;
            }
            .configure-title {
                margin-top: 3px;
            }
            .configure-list {
                .icon-list {
                    font-size: 22px;
                }
            }
        }
    }
    .third-part {
        margin-top: 10px;
        background-color: #fff;
        padding: 10px 10px;
        border-radius: 5px;
        .type-info {
            color: #444;
            font-size: 14px;
        }
        .house-gaikuang{
            padding-bottom:10px;
            border-bottom: 1px solid #f5f5f5;
        }
        .house-desc-info{
            color:#444;
            margin-top: 2px;
            font-size: 14px;
            padding-bottom: 45px;
            letter-spacing: 1px;
            line-height:20px;
        }
    }
}

.bubbless {
    width: 60px;
    height: 60px;
    line-height: 2;
    display: inline-block;
    position: absolute;
    border-radius: 100%;
    background-color: rgba(12, 181, 106, 0.9);
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.8);
    text-align: center;
    cursor: pointer;
}
.namess {
    padding: 18px 0 6px 0;
}
