$commanColor: #f5f6f5;
.main-list {
    z-index: 0;
    background-color: #fff;
    overflow:hidden;
    height: 100%;
    width: 100%;
    .header-list {
        background-color: $commanColor;
        width: 100%;
        height: 52px;
        position: relative;
        .search {
            top: 5px;
        }
    }
    .searchlist {
        background-color: #fff;
        height: 32px;
        align-items: center;
        margin-top:2px;
        margin-left:25px;
        color:#333;
        width: 82%;
        font-size: 12px;
    }
}
.loading{
    line-height: 120px;
    text-align: center;
    height: 110px;
    color:red;
    background-color: #f5f6f5;
}
