// global css
* {
    touch-action: pan-y;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
html,
body,
#root,
.App {
    height: 100%;
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
}